# Server-side only environment variables
BACKEND_URL=https://YOUR_BACKEND_URL

# Cloudflare R2
S3_ACCESS_KEY_ID=your_r2_access_key_id
S3_SECRET_ACCESS_KEY=your_r2_secret_access_key
S3_API=<ACCOUNT_ID>.r2.cloudflarestorage.com
S3_BUCKET=evidence
HTTP_IP_ADDRESS=http://localhost,http://127.0.0.1,http://0.0.0.0
